<section data-ng-controller="HomeController">
    <div class="row" style="margin-top: 150px" data-ng-hide="authentication.user">
        <div class="col-md-6 col-md-6-offset" style="padding-top: 5px">
            <h1><strong>Never miss another concert.</strong></h1>
            <p>Get upcoming concert info about your favorite bands from your favorite online music profiles
            like SoundCloud, Spotify, Grooveshark, last.fm, and more.</p>
            <p>Manage your artists and choose which tours you want to be updated about the most frequently</p>
            <!--<p>Choose to receive emails, texts, or both as frequently as you want and as close to the live shows as you want.</p>-->
        </div>
        <div class="col-md-6 col-md-6-offset">
            <div>
                <h1><strong>Jump on the Bandwagon</strong></h1>
                <a style="margin-left: 75px; margin-top: 36px" href="/#!/signup" class="btn btn-primary btn-lg" ui-route="/signup" ng-class="{active: $uiRoute}">Sign up</a>
                <a style="margin-left: 75px; margin-top: 36px" href="/#!/signin" class="btn btn-primary btn-lg" ui-route="/signin" ng-class="{active: $uiRoute}">Sign in</a>
            </div>
        </div>
    </div>
    <p></p>
</section>
