<section data-ng-controller="GigsController">
    <div class="row" style="margin-top: 50px" data-ng-show="authentication.user">
        <div>
            <center><h1><small>Calendar</small></h1></center>
			<br>
			<br>
            <table>
                <tr data-ng-repeat="gig in gigs" ng-init="gig.dateStr = ( gig.date | date:'MMMdd' )">
                    <td>{{gig.dateStr}} &nbsp; | &nbsp; {{gig.gigName}} &nbsp; | &nbsp; {{gig.venue.city}}, {{gig.venue.region}} &nbsp; | &nbsp; {{gig.venue.venueName}}</td>
                </tr>
            </table>
        </div>
    </div>
</section>
