<section class="row" data-ng-controller="HomeController">
	<h3 class="col-md-12 text-center">Delete Your Account</h3>
	<div style="width:400px; margin:0 auto;">
		<p>If you don't think you'll use Bandwagon again, you can have your account permanently deleted. Please keep in mind that you won't be able to reactivate your account or retrieve anything you've added.</p>
		<div style="margin-left:10%">
		<a id="cancelDelete" style="margin-top: 25px" href="/#!/gigs" class="btn btn-primary btn-lg">Cancel</a>
        <a id="confirmDelete" style="margin-left: 25px; margin-top: 25px" href="/auth/deleteAccount" class="btn btn-primary btn-lg">Delete Account</a>
    	</div>
	</div>
</section>