<section data-ng-controller="CalendarclientcontrollerController">
	<div class="text-center">
		<br>
		<h3>Upcoming Shows</h3>
	</div>
	<br>
	<div clas="row">
		<img src="/modules/calendar/img/dates/apr21.png"> The Beatles: Last American Tour &nbsp; | &nbsp; Location: Gainesville, FL &nbsp; | &nbsp; Venue: Hippodrome State Theatre &nbsp; | &nbsp; Distance: 1 mi.
		<br>
		<img src="/modules/calendar/img/dates/apr22.png"> The Rolling Stones: 14 On Fire &nbsp; | &nbsp; Location: Jacksonville, FL &nbsp; | &nbsp; Venue: Moran Theater &nbsp; | &nbsp; Distance: 71 mi.
	</div>
</section>